 :root {
    --brand-color: #16cc9e;
    --light-brand-color: #383fbf;
        --text-color:  #000000;
        --light-text-color: #7C7C7C;
        --alert-color:  #EDED00 ;
        --success-color: #67E500;
        --warning-color: #2539EA;
        --error-color: #EA0000;
        --main-background-color : #f8f9fa;
        --light-background-color : #fbfbfb;
        --default-font : 'Dongle', sans-serif;
        --primary-font : 'Dongle', sans-serif;
        --secondary-font : 'Dongle', sans-serif;
        --default-font-size: 16px;
    }
    
    /* Typography Starts here */
    *,
    html,
    body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--primary-font);
    }
    
    
    a {   
        color: var(--text-color);
    }
    
    a:hover {
        text-decoration: none;
        color: var(--text-color);
    }
    
    h1 {
        font-family: var(--primary-font);
        color: var(--brand-color);
        font-size: 4rem;
    }
    h2 {
        font-family: var(--primary-font);
        color: var(--brand-color);
        font-size: 2.8rem;
    }
    
    h3 {
        font-size: 2rem;
        font-weight: 500;
    }
    
    h4 {
        font-size: 1rem;
        font-weight: 700;
    }
    
    h5 {
        font-size: 0.875rem;
    }
    
    h6 {
        font-size: 0.813rem;
        color: var(--text-color);
    }
    
    p {
        font-size: 1.2rem;
    }
    
    .emphasis {
        font-family: var(--brand-color);
        font-style: italic;
        color: var(--main-brand-color);
    }
    
    .constrain-width {
        max-width: 45rem;
        margin: 0 auto;
    }
    
    .pill-btn {
        border-radius: 499rem;
    }
    
    .rounded-corners {
        border-radius: .3rem;
    }
    
    .alt-background {
        background: var(--main-background-color);
    }
    
    .btn-primary,
    .btn-outline-primary,
    .btn-secondary,
    .btn-outline-secondary,
    .btn-white,
    .btn-outline-white,
    .btn-success,
    .btn-outline-success,
    .btn-info,
    .btn-outline-info,
    .btn-warning,
    .btn-outline-warning,
    .btn-danger,
    .btn-outline-danger {
        font-size: 1rem;
        font-weight: 700;
        border-radius: .3rem;
    }
    
    .btn-outline-primary,
    .btn-outline-secondary,
    .btn-outline-white,
    .btn-outline-success,
    .btn-outline-info,
    .btn-outline-warning,
    .btn-outline-danger {
        border-width: .15rem;
    }
    
    .btn:focus{
        box-shadow: none;
    }
    
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        box-shadow: none;
    }
    
    
    .lead {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--text-color)
    }
    
    @media(max-width: 767px) {
        .lead {
            font-size: 1.2rem      
        }
      }
    
    /* Typography Ends here */  

    .fade-in {
        opacity: 0;
        animation: fadeIn ease 1s;
        animation-fill-mode: forwards;
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

.headerAnim{
    animation: fadeInDown; 
    animation-duration: 3s;
}

 .my-element{
    animation: fadeInDown; 
    animation-duration: 1s; 
 }     

    /* #hau(h1e97f7dfe444eafd) #css starts */
.headerh1e97f7dfe444eafd .navbar-light .navbar-nav .nav-link{
    color: #48494D;
}
 
.headerh1e97f7dfe444eafd .navbar-light .navbar-nav .nav-link:hover {
    color: var(--brand-color);
}
    .headerh1e97f7dfe444eafd .btnClr{
        font-weight: bold;
        color: #444549
    }
    .headerh1e97f7dfe444eafd .btnClr:hover{
        color:  var(--brand-color);
    }
    .headerh1e97f7dfe444eafd .btnBG{
        font-weight: bold;
        background-color:  var(--brand-color);
        padding-left: 15px;
        padding-right: 15px;
        color: #fff
    }
    .headerh1e97f7dfe444eafd .btnBG:hover{   
        color: var(--text-color)
    }
/* #hau(h1e97f7dfe444eafd) #css ends */

/* #anru(h4979acb58594d1e7) #css starts  */
.abouth4979acb58594d1e7 .DescriptionHeading {
    font-size: 35px;
    font-weight: 800;
    color: #000000;
    margin-top: 50px
}
.abouth4979acb58594d1e7 .DescriptionPara {
    color: #747474;
    font-weight: 500;
    font-size: 18px
}

.abouth4979acb58594d1e7 .descriptionImage img{
    height: 600px;
    width: 500px
}
.abouth4979acb58594d1e7 .searchBtn{
    background-color:#16CC9E;
    border-radius: 10px;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold
}
.abouth4979acb58594d1e7 .teacher{
   color: #383FBF;
   padding-right: 20px;
    padding-left: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-left:none;
    border-radius: 10px
}
/* Small screens (portrait) */
@media only screen and (min-width: 320px) {
.abouth4979acb58594d1e7 .teacher{   
   margin-top: 5px;
}
}
/* #anru(h4979acb58594d1e7) #css ends  */

/* Define the animation */
@keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Apply the animation to the image */
 .img-fluid {
    animation: updown 3s ease infinite;
  }